body{
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    font-family: var(--texto);
    text-decoration: none;
 } 
 main{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: 100%;
    gap: 200px;
 }
 
 a{
    text-decoration: none;
    color: black;
 }
 
 .image-area{
    height: 80%;
    width: 25%;
    background-color: var(--vermelho);
    display: flex;
    flex-direction: column;
    padding: 39px;
    align-items: center;
    color: var(--branco);
    justify-content: space-between;
 }
 .tittle{
    font-family: var(--titulo);
    font-weight: 900;
    font-size: 65px;
    text-align: center;
 }
 .text{
    font-size: 30px;
    text-align: center;
    width: 500px;
 }
 .content-area{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 120px;
 }
 .go-back{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
 }
 .arow{
    background-image: url(../css/img/seta-preta.png);
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .go-back h1{
    font-family: var(--titulo);
    font-weight: 900;
    font-size: 20px;
 }
 .section-1{
    display: flex;
    gap: 50px;
 }
 
 
 .input-area p{
    padding-bottom: 10px;
    color: var(--vermelho);
    font-size: 20px;
    font-weight: 600;
 }
 
 
 .section-1 input{
    width: 450px;
 }
 
 
 input{
 height: 50px;
 width: 965px;
 border: none;
 border-bottom: 2px solid var(--vermelho);
 background-color: var(--cinza);
 padding-left: 15px;
 font-size: 18px;
 outline: 0;
 color: var(--preto);
 }
 
 
 .input-area{
    display: flex;
    flex-direction: column;
    gap: 50px;
 }
 .section-2{
    display: flex;
    flex-direction: column;
    gap: 50px;
 }
 
 
 .botao{
    width: 223px;
    height: 50px;
    border-radius: 50px;
    font-family: var(--titulo);
    color: var(--vermelho);
    font-size: 30px;
    font-weight: 900;
    background-color: transparent;
    border: 2px solid var(--vermelho);
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); 
    cursor: pointer;
 }
 
 
 .botao:hover{
    color: var(--branco);
    background-color: var(--vermelho);
    transform: translateY(-0.125em);
 } 
 .botao-area{
    padding-top: 150px;
 }


 .error-message {
    animation: fadeInOut 2s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  