* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  /* Estilos para o cabeçalho fora do container */
  .header {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 80px;
  }
  
  .back-button {
    text-decoration: none;
    font-size: 50px;
    color: #333;
    margin-right: 80px;
  }
  
  /* Estilos para o Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  .header h1 {
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-right: 80px;
  }
  
  .logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  /* Container Principal */
  .container {
    width: 1000px;
    background: #fafafa;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
  }
  
  .cep-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
  }
  
  #cep {
    text-align: center;
  }
  
  .form-group {
    display: flex;
    gap: 10px;
  }
  
  .form-field {
    flex: 1;
  }
  
  .add-cep-button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .add-cep-button:hover {
    background-color: #c82333;
  }
