/* 
Nome: Leonardo Torquato de Andrade
TransportaWeb
Data: 19/09/2024
*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 1rem;
}

.button-group {
    display: flex;
    align-items: center;
}

.button {
    background-color: transparent;
    border: none;
    color: #000000;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.button.transparent-sobre-nos {
    width: 150px;
    height: 30px;   
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    padding: 0 1rem;
    margin-right: 100px;
}

.button.transparent-contatos {
    width: auto;
    height: 30px;   
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    padding: 0 1rem;
    margin-right: 100px;
}

.button.transparent-solucoes{
    width: auto;
    height: 30px;   
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    padding: 0 1rem;
    margin-right: 100px;
}

.button.test {
    background-color: #D92727;
    color: #ffffff;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px;
    padding: 0 1rem;
    margin-right: 60px;
}

.button.client-area {
    border: 2px solid #000000;
    color: #000000;
    margin-right: 2%;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px;
    padding: 0 1rem;
}

.button.client-area:hover {
    background-color: #f0f0f0;
}

.background-header {
    background-image: url('../css/img/BACKGROUND-LIMPO.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-header a {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-left: 10vh;
}

.container {
    position: relative;
    height: 100vh;
    background-image: url('../css/img/BACKGROUND-LIMPO.PNG');
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
     font-style: normal;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.contact-box {
    background-color: #D92727;
    padding: 20px;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 2px solid #ffffff; 
}


.contact-box p {
    margin: 0.5rem 0;
    font-size: 1.25rem;
}

.footer {
    background-color: #D92727;
    padding: 1rem;
    border-top: 2px solid #c7c7c7;
}

.logobaixa {
    text-align: center;
}

.footer-container .text-muted {
    display: block;
    text-align: center;
}

.text-muted {
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
}


