
body {
    margin: 0;
    font-family: Nunito;
 }
 
 .control-section {
    height: 200px;
    width: 90vh; /* Ajuste a largura conforme necessário, você pode trocar por um valor fixo como '600px' */
    background-color: #d32f2f;
    color: white;
    padding: 40px;
    text-align: left;
    display: flex;
    justify-content: flex-start; /* Garante que o texto fique à esquerda */
    align-items: center;         /* Alinha o texto verticalmente */
    position: relative;          /* Permite o uso de position absolute para a imagem */
    margin: 0 auto;
 }
 
 .control-section .text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding-left: 50px;
 
 }
 
 .control-section h1 {
    font-size: 28px;
    margin-bottom: 0px;
    font-weight: 800;
 }
 
 .control-section p {
    font-size: 18px;
 
 }
 
 .illustration img {    
    width: 280px;
    height: 280px;
 }
 
 
 