body {
   margin: 0;
   font-family: Nunito;
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

.profile-container {
   display: flex;
   align-items: center;
}

.profile-container img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 10px;
}

.profile-container span {
   font-size: 14px;
   font-weight: bold;
}

.profile-container .name {
   color: red;
}

.button-group {
   display: flex;
   gap: 10px;
   align-items: center;
}

.button {
   text-decoration: none;
   padding: 8px 12px; /* Reduzi o tamanho do botão */
   border-radius: 5px;
   color: rgb(0, 0, 0);
   font-weight: 600;
   transition: background-color 0.3s;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 35px; /* Reduzi a altura */
}

#openModal {
   background-color: #D92727;
   margin-right: 20px;
   color: white;
   border: none;
   border-radius: 25px;
   width: 120px; /* Reduzi a largura */
   height: 35px; /* Reduzi a altura */
   font-size: 14px; /* Reduzi o tamanho da fonte */
   cursor: pointer;
   font-family: nunito;
   font-weight: 700;
}

#openModal:hover {
   background-color: #aa0c0c;
}

.motoristas {
   color: red;
   text-decoration: underline;
}

.control-section {
   height: 200px;
   width: 90vh;
   background-color: #d32f2f;
   color: white;
   padding: 40px;
   text-align: left;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   position: relative;
   margin: 0 auto;
}

.control-section .text {
   display: flex;
   flex-direction: column;
   max-width: 500px;
   padding-left: 10px;
}

.control-section h1 {
   font-size: 28px;
   margin-bottom: 0px;
   font-weight: 800;
}

.control-section p {
   font-size: 18px;
}

.illustration img {
   position: absolute;
   right: 0;
   bottom: 0;
   width: 400px;
   height: auto;
}

.modal-background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: none;
   align-items: center;
   justify-content: center;
   z-index: 9999;
}

.modal {
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   max-width: 500px;
   width: 90%;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   position: relative;
   z-index: 10000;
}

.close-modal {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 24px;
   cursor: pointer;
}

.modal h2 {
   text-align: center;
   font-size: 24px;
   margin-bottom: 20px;
}

.modal-form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

.form-group {
   display: flex;
   flex-direction: column;
}

.form-group label {
   font-size: 14px;
   color: #555;
   margin-bottom: 5px;
}

.form-group input,
.form-group select {
   padding: 10px;
   font-size: 14px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

.form-group button {
   margin-top: 5px;
   padding: 8px;
   background-color: #007BFF;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.form-group button:hover {
   background-color: #0056b3;
}

.modal-form button[type="submit"] {
   grid-column: 1 / -1;
   padding: 12px;
   font-size: 16px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 10px;
}

.modal-form button[type="submit"]:hover {
   background-color: #45a049;
}

.pesquisa {
   margin-bottom: -35px;
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#pesquisa {
   width: 40%;
   padding: 10px;
   border: none;
   background-color: #d8d8d8;
   color: #333;
   outline: none;
}

.container-cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   padding: 20px;
}

.trip-card {
   background-color: rgb(247, 233, 208);
   padding: 10px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   height: 120px;
   display: flex;
   outline: none;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: 1;
   cursor: pointer;
}

.trip-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: 10px;
   z-index: 1;
}

.trip-title {
   font-size: 18px;
   font-weight: bold;
   text-align: left;
}

.trip-remetente,
.trip-destinatario,
.trip-data {
   margin: 0;
   font-size: 14px;
   text-align: left;
}

#viagens-criadas h2 {
   text-align: left;
   margin: 0;
   padding-left: 24px;
   font-size: 24px;
   font-weight: bold;
   color: #D92727;
}

.trip-image {
   flex-shrink: 0;
}

.trip-image-img {
   width: 80px;
   height: auto;
   border-radius: 4px;
}

.container-cards {
   display: flex;
   flex-wrap: wrap;
   margin-left: 20%;
   margin-right: 20%;
   gap: 20px;
   justify-content: center;
}

.motorista-card {
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   width: 300px;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
   overflow: hidden;
   position: relative;
}

.motorista-card:hover {
   transform: translateY(-10px);
   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.motorista-image {
   width: 90px;
   height: 90px;
   border-radius: 50%;
   overflow: hidden;
   margin-bottom: 15px;
   border: 3px solid #fff;
}

.motorista-image-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.motorista-info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin-top: 25px;
}

.motorista-email, .motorista-telefone {
   font-size: 14px;
   color: #555;
   margin-top: 5px;
   font-weight: 600;
}

.motorista-email::before {
   content: "\f0e0";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   margin-right: 8px;
   color: #000000;
}

.motorista-telefone::before {
   content: "\f095";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   margin-right: 8px;
   color: #000000;
}
.botao-detalhes {
   padding: 5px 10px; /* Ajuste do tamanho para ter apenas as letras */
   background: none; /* Remove o fundo */
   color: #D92727; /* Cor das letras */
   border: none;
   font-size: 12px; /* Tamanho da fonte ajustado */
   font-weight: bold;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 1px;
   transition: all 0.3s ease-in-out;
   text-align: center;
   position: absolute;
   top: 10px; /* Posiciona o botão no topo */
   z-index: 2; /* Coloca o botão acima da imagem */
}

.botao-detalhes:hover {
   color: #aa0c0c; /* Altera a cor ao passar o mouse */
}

.botao-detalhes:focus {
   outline: none;
   border: 2px solid #D92727;
}


.button-container {
   display: flex;
   justify-content: space-between; /* Deixando os botões um ao lado do outro */
}

.remove-button {
   margin-top: 10px;
   padding: 8px 12px;
   background-color: #c0c0c0;
   color: rgb(0, 0, 0);
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 14px;
   transition: background-color 0.3s;
}

.remove-button:hover {
   background-color: #c0392b;
}

.opcaofree {
   width: 250px;
   height: 50px;
   background-color: rgba(0, 0, 0, 0);
   border: 1px solid #000000;
   border-radius: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Arial, sans-serif;
   position: absolute;
   margin: auto 0px;
   left: 50%;
   transform: translate(-50%, -100%);
}

.container {
   position: relative;
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.opcaofree p {
   margin: 0;
   font-size: 18px;
   color: #000;
   z-index: 2;
   position: relative;
}

.left {
   text-align: left;
   padding-left: 15px;
}

.right {
   text-align: right;
   padding-right: 15px;
}

.divisao {
   width: 1px;
   height: 45px;
   background-color: #000;
   border: none;
}

.toggle-btn {
   position: absolute;
   padding: 0;
   width: 110px;
   height: 30px;
   left: 10px;
   background-color: #ffffffcb;
   cursor: pointer;
   border: none;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   transition: transform 0.3s ease, background-color 0.3s ease;
   z-index: 3;
}

.toggle-btn.left {
   transform: translateX(120px);
}

.toggle-btn.right {
   transform: translateX(0px);
}

.botao-adicionar-equipe {
   padding: 10px 16px; /* Reduzi o tamanho */
   background: linear-gradient(45deg, #D92727, #aa0c0c);
   color: white;
   border: none;
   border-radius: 25px;
   font-size: 14px; /* Reduzi o tamanho da fonte */
   font-weight: 700;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 1px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease-in-out;
   width: auto;
   text-align: center;
}

.botao-adicionar-equipe:hover {
   background: linear-gradient(45deg, #aa0c0c, #D92727);
   transform: translateY(-5px) scale(1.05);
   box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.botao-adicionar-equipe:focus {
   outline: none;
   border: 2px solid #D92727;
}

.botao-adicionar-equipe:active {
   transform: translateY(2px);
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
