.profile-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 0px;
}




.profile-container span {
    font-size: 14px;
    font-weight: bold;
}




.profile-container .name {
    color: red;
}




header{
    background-color: var(--branco);
    padding-inline: 23px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-container{
    display: flex;
    align-items: center;
}
.content-area{
    display: flex;
    gap: 50px;
    align-items: center;
}




.navbar{
    display: flex;
    gap: 60px;
    align-items: center;
}




ul.navbar > a{
    color: var(--preto);
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 1.25em;
    cursor: pointer;
    transition: 0.4s all ease;
}
ul.navbar > a:hover{
    transition: 0.4s all ease;
    color: var(--vermelho);
    font-weight: 800;
}
ul.navbar > a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -1px;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    background-color: var(--vermelho);
}
ul.navbar > a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.botao-perfil{
    width: 150px;
    height: 40px;
    background-color: var(--vermelho);
    color: var(--branco);
    font-family: var(--titulo);
    font-weight: 800;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 5px;
}


.botao-perfil:hover{
    transform: translateY(-2px);
}


.botao-viagem{
    width: 200px;
    height: 40px;
    background-color: var(--vermelho);
    color: var(--branco);
    font-family: var(--titulo);
    font-weight: 800;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 5px;
}


.botao-viagem:hover{
    transform: translateY(-2px);
}

.notificacao-botao{
    display: flex;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
}

.botao-chat{
    width: 170px;
    height: 40px;
    background-color: var(--vermelho);
    color: var(--branco);
    font-family: var(--titulo);
    font-weight: 800;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 10px;
}


.botao-chat:hover{
    transform: translateY(-2px);
}