    .botao-notificacoes {
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        margin-left: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .botao-notificacoes:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }


    .notification-modal {
        display: none;
        position: absolute;
        top: 80px;
        right: 6px;
        width: 460px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 100;
    }

    .notification-modal .modal-header {
        gap: 150px;
        display: flex;
        align-items: center;
        padding-inline: 32px;
        background: white;
        color: black;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px solid #C8C8C8;
    }

    h2 {
        font-family: var(--titulo);
        font-weight: 800;
    }

    .notification-modal .modal-body {
        padding-bottom: 40px;
    }



    .notification-modal .action-btn {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 5px 0;
    }

    .notification-modal .action-btn.accept {
        background: #4CAF50;
        color: white;
    }

    .notification-modal .action-btn.deny {
        background: #f44336;
        color: white;
    }

    .notification-modal .action-btn.details {
        background: #2196F3;
        color: white;
    }

    .close-modal {
        background: none;
        border: none;
        color: black;
        font-size: 40px;
        cursor: pointer;
    }

    .mensagem-card {
        background-color: var(--branco);
        border-bottom: 1px solid #C8C8C8;
        display: flex;
        align-items: center;
        gap: 17px;
        padding-inline: 32px;
        padding-block: 10px;
        justify-content: center;
    }

    .img-perfil {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-image: url(https://cdn.shopify.com/s/files/1/0799/5156/1014/files/motorista-caminhao.jpg?v=1722351284);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content-message {
        display: flex;
        flex-direction: column;
    }

    .content-message p{
    font-weight: 600;
    width: 329px;
    }
    .buttons-message{
        display: flex;
        align-items: baseline;
        gap: 20px;
    }