body {
    margin: 0;
    font-family: Nunito;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 0px;
}

.profile-container span {
    font-size: 18px;
    font-weight: bold;
}

.profile-container .name {
    color: red;
}

.button-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.button {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

#openModal {
    background-color: #D92727;
    margin-right: 20px;
    color: white;
    border: none;
    border-radius: 25px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    font-family: nunito;
    font-weight: 700;
}

#openModal:hover {
    background-color: #aa0c0c;
}

.motoristas, .historico, .perfil {
    font-size: 18px; /* Ajuste o tamanho conforme necessário */
  
}

.home {
    font-size: 18px;
    color: red;
    text-decoration: underline;
}


.desc-container { 
    width: 1300px; /* Ajuste a largura conforme necessário */
    max-width: 1300px; /* Largura máxima para telas grandes */
    height: 220px;
    margin: 30px auto; /* Centraliza e adiciona espaço acima e abaixo */
    padding: 20px; /* Padding interno */
    padding-left: 50px; /* Padding interno */
    background-color: var(--vermelho);  
    box-sizing: border-box; 
    border-radius: 20px; /* Adiciona bordas arredondadas, se desejado */
}

.desc-container h1 { 
    font-size: 32px; 
    font-weight: 600; 
    color: var(--branco); 
    padding-bottom: 10px; /* Espaço entre o texto e a linha */
} 

.line {
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 150px; /* Largura máxima da linha */
    height: 2px; /* Espessura da linha */
    background-color: var(--branco); /* Cor da linha */
    margin-top: -34px;
}


.desc-container p { 
    font-size: 23px; 
    color: var(--branco); 
    margin: 20px 0; /* Margem vertical */
    font-weight: 200; 

} 
.container-cards {
    display: flex;
    justify-content: center; /* Centraliza os cards */
    margin: 20px auto; /* Margem acima e abaixo, auto lateral para centralizar */
    width: 100%; /* Faz o contêiner ocupar toda a largura da tela */
    max-width: 100%; /* Largura máxima */
    gap: 50px; /* Distância entre os cards */
}



.card {
    display: flex; /* Usar flexbox para centralizar o conteúdo */
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    width: 220px; /* Largura do card */
    height: 300px; /* Altura do card */
    background-color: var(--branco); /* Cor de fundo do card */
    border-radius: 20px; /* Bordas arredondadas */
    border: 1px solid var(--cinza-escuro); /* Borda fina */
    text-align: center; /* Centraliza o texto */
    padding: 15px; /* Espaço interno do card */
    margin: 15px 5px; /* Reduz a margem lateral para 5px */
}




.card img {
    width: 40%; /* Largura total da imagem */
    height: auto; /* Altura automática para manter proporção */
    border-radius: 5px; /* Bordas arredondadas da imagem */
}

.button-access {
    display: flex; /* Usar flexbox para centralizar o texto */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #66000000; /* Cor do botão */
    color: rgb(0, 0, 0); /* Cor do texto do botão */
    border: 1px solid #888888; /* Borda fina com a mesma cor do botão */
    border-radius: 15px; /* Aumenta o arredondamento da borda */
    padding: 10px; /* Espaço interno do botão */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    font-weight: 400px; /* Texto em negrito */
    margin-top: 10px; /* Espaço acima do botão */
    height: 35px; /* Altura do botão */
    width: 150px; /* Largura do botão */
    font-size: 16px; /* Tamanho da fonte */
}


.button-access:hover {
    background-color: #cacaca; /* Cor do botão ao passar o mouse */
}

.card h2{
    font-size: 18px;
}
