* {
   margin: 0;  
   padding: 0;  
}
body {   
  font-family: 'Nunito', sans-serif;  
   width: 100%; 
   min-height: 100vh; 
   overflow: auto;  
   background-color: #fafafa;
}
.container-t {
   display: flex; /* Usar flexbox para alinhar os botões */
   align-items: center; /* Alinha os itens verticalmente */
   justify-content: flex-start; /* Alinha os itens à esquerda */
   margin-top: 40px;
   border: 1px solid rgb(197, 197, 197);
   height: 150px;
   max-width: calc(100vw - 40px); /* Subtrai o espaço das margens */       
   border-radius: 30px;
   margin-left: 80px; /* Margem à esquerda */
   margin-right: 80px; /* Margem à direita */
   background-color: white;
}
.img{
   margin-left: 50px;
   border-radius: 100%;
   width: 120px;
   height: 120px;
   background-color: rgb(216, 216, 216);
}
.trocar-foto { 
   width: 260px;
   height: 50px; 
   margin-left: 150px;
   border-radius: 40px; 
   font-family: var(--titulo); 
   color: var(--vermelho); 
   font-size: 18px; 
   font-weight: 400; 
   background-color: transparent; 
   border: 2px solid var(--vermelho); 
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); 
   cursor: pointer;
} 
.trocar-foto:hover { 
   color: var(--branco); 
   background-color: var(--vermelho); 
   transform: translateY(-0.125em); 
} 
.remover { 
   width: 260px;
   height: 50px; 
   margin-left: 50px;
   border-radius: 40px; 
   font-family: var(--titulo); 
   color: var(--preto); 
   font-size: 18px; 
   font-weight: 400; 
   background-color: transparent; 
   border: 2px solid var(--preto); 
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); 
   cursor: pointer;
} 
.remover:hover { 
   color: var(--branco); 
   background-color: var(--preto); 
   transform: translateY(-0.125em); 
} 
.container-b {
   background-color: white;
   border-radius: 10px;
   margin-top: 30px;
   height: 90%;
   border: 1px solid rgb(211, 211, 211); 
   max-width: calc(100vw - 40px); /* Subtrai o espaço das margens */    
   padding: 30px 40px;
}

.container-b form .detalhes-usuario{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-left: 10%;
   font-size: 20px;
}

form .detalhes-usuario .inputbox{
   margin-bottom: 50px;
   width: calc(100% / 2 - 2px);
}
.detalhes-usuario .inputbox .detalhes{
   display: flex;
   font-weight: 600;
   margin-bottom: 10px;
   margin-left: 8px;
}

.detalhes-usuario .inputbox input{
   height: 70px;
   width: 80%;
   outline: none;
   border-radius: 10px;
   border: 1px solid #2e2e2e;
   padding-left: 12px;
   font-size: 20px;
   background-color: transparent;
}

form .botao-opcao {
  height: 70px;
  width: 82%;
  outline: none;
  border-radius: 10px;
  border: 1px solid #2e2e2e;
  padding-left: 12px;
  font-size: 20px;
  background-color: transparent;
}

.botoes{
  margin-left: 50%;
  padding-left: 20px;
  margin-top: -140px;

}

.editar { 
   width: 260px;
   height: 50px; 
   border-radius: 40px; 
   font-family: var(--titulo); 
   color: var(--vermelho); 
   font-size: 18px; 
   font-weight: 400; 
   background-color: transparent; 
   border: 2px solid var(--vermelho); 
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); 
   cursor: pointer;
   margin-right: 50px;
} 
.editar:hover { 
   color: var(--branco); 
   background-color: var(--vermelho); 
   transform: translateY(-0.125em); 
} 
.excluir { 
   width: 260px;
   height: 50px; 
   border-radius: 40px; 
   font-family: var(--titulo); 
   color: var(--preto); 
   font-size: 18px; 
   font-weight: 400; 
   background-color: transparent; 
   border: 2px solid var(--preto); 
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); 
   cursor: pointer;
} 
.excluir:hover { 
   color: var(--branco); 
   background-color: var(--preto); 
   transform: translateY(-0.125em); 
} 
@media screen and (max-width: 1692px) {

  
   .editar { 
      width: 210px;

  } 
   

   .excluir { 
      width: 210px;

   } 
   

}

@media screen and (max-width: 1450px) {

  
  .editar { 
     width: 170px;

 } 
  

  .excluir { 
     width: 170px;

  } 
  

}
@media screen and (max-width: 1200px) {
   .container-b{
      height: 100%;
   }

  
  .editar { 
     width: 140px;
     margin-right: 30px;

 } 
  

  .excluir { 
     width: 140px;

  } 
  

}
@media screen and (max-width: 1065px) {

   .container-b{
      height: 100%;
   }

  .img{
     margin-left: 50px;
     width: 100px;
     height: 100px;
  
  }

  .editar { 
     width: 140px;
     margin-right: 10px;
     font-size: 15px;


 } 
  
  .excluir { 
     width: 140px;
     font-size: 15px;


  } 

  .trocar-foto {
     width: 170px;
     font-size: 15px;
     margin-left: 80px;
  }

  .remover{
     width: 170px;
     font-size: 15px;

  }

  @media screen and (max-width: 950px) {
  
   .container-b{
      height: 100%;
   }

     
     .editar { 
        width: 120px;
        font-size: 14px;
        margin-right: 5px
  
    } 
     
     .excluir { 
        width: 120px;
        font-size: 14px;

  
     } 
     
  }
  @media screen and (max-width: 890px) {

     .container-b {
        background-color: white;
        border-radius: 10px;
        margin-top: 100px;
        height: 100%;
        border: 1px solid rgb(211, 211, 211); 
        max-width: calc(100vw - 40px); /* Subtrai o espaço das margens */    
        padding: 60px 40px;
     }

     form .detalhes-usuario .inputbox{
        margin-bottom: 50px;
        margin-left: 10%;
        width: calc(80% / 1 - 2px);
        font-size: 15px;
     }


     .img{
        margin-left: 30px;
        width: 90px;
        height: 90px;
     }
     
     .botoes{
        margin-left: 9%;
        padding-left: 20px;
        margin-top: 0px;
     
     }
     .editar { 
        width: 120px;
        font-size: 14px;
        margin-right: 5px;
    } 
     
     .excluir { 
        width: 120px;
        font-size: 14px;

  
     } 
     
  }

  @media screen and (max-width: 780px) {

   .container-b{
      height: 100%;
   }

     .trocar-foto {
        width: 140px;
        font-size: 12px;
        margin-left: 80px;
     }
  
     .remover{
        width: 140px;
        font-size: 12px;
  
     }
  
}

@media screen and (max-width: 690px) {

   body{
      overflow:auto;  


      .container-b{
         height: 100%;
      }
   }

  .trocar-foto {
     width: 100px;
     font-size: 12px;
     margin-left: 80px;
  }

  .remover{
     width: 100px;
     font-size: 12px;

  }

}

}