/* 
Nome: Leonardo Torquato de Andrade
TransportaWeb
Data: 03/10/2024
*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 1rem;
}

.button-group {
    display: flex;
    align-items: center;
}

.button {
    background-color: transparent;
    border: none;
    color: #000000;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.button.transparent-sobre-nos {
    width: 150px;
    height: 30px;   
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    padding: 0 1rem;
    margin-right: 100px;
}

.button.transparent-contatos {
    width: auto;
    height: 30px;   
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    padding: 0 1rem;
    margin-right: 100px;
}

.button.transparent-solucoes{
    width: auto;
    height: 30px;   
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    padding: 0 1rem;
    margin-right: 100px;
}

.button.test {
    background-color: #D92727;
    color: #ffffff;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px;
    padding: 0 1rem;
    margin-right: 60px;
}

.button.client-area {
    border: 2px solid #000000;
    color: #000000;
    margin-right: 2%;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px;
    padding: 0 1rem;
}

.button.client-area:hover {
    background-color: #f0f0f0;
}

.background-header {
    background-image: url('../css/img/fundo_com_letras.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info-section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start;
    padding: 40px;
    background-color: #fff;
}

.info-item,
.info-item2,
.info-item3 {
    text-align: center;
    flex: 1 1 45%; 
    margin: 1rem; 
    padding: 2rem; 
    box-sizing: border-box; 
}

.info-item img,
.info-item2 img,
.info-item3 img {
    max-width: 80px; 
    height: auto;  
}

.info-item h2,
.info-item2 h2,
.info-item3 h2 {
    color:#D92727;
    font-size: 24px;
    margin-bottom: 10px; 
    align-items: center;
}

.info-item p,
.info-item2 p,
.info-item3 p {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
    line-height: 1.5;
    text-align: center;
}

.info-item3 {
    flex: 1 1 100%;
    margin: 1rem; 
    padding: 2rem; 
}

.info-item3 p {
    margin-left: 300px;
    margin-right: 300px;
}

@media (max-width: 768px) {
    .info-item,
    .info-item2,
    .info-item3 {
        flex: 1 1 100%; 
        max-width: 100%; 
        margin: 0.5rem; 
        padding: 1rem; 
    }
}

.footer {
    background-color: #D92727;
    padding: 1rem;
    border-top: 2px solid #c7c7c7;
}

.logobaixa {
    text-align: center;
}

.footer-container .text-muted {
    display: block;
    text-align: center;
}

.text-muted {
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .button-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .button {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .info-section {
        flex-direction: column;
        align-items: center;
    }

    .info-item {
        max-width: 100%;
        margin-bottom: 20px; 
    }
}

@media (max-width: 480px) {
    .info-item h2 {
        font-size: 18px;
    }

    .info-item p {
        font-size: 16px;
    }

    .button {
        font-size: 0.9rem;
    }
}
