body {
    margin: 0;
    font-family: Nunito, sans-serif; /* Adicionado sans-serif como fallback */
}

#openModal {
    background-color: #D92727;
    margin-right: 20px;
    color: white;
    border: none;
    border-radius: 25px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    font-family: Nunito;
    font-weight: 700;
}

#openModal:hover {
    background-color: #aa0c0c;
}

.viagens {
    color: red;
    text-decoration: underline;
}

/* Estilo para o fundo do modal */
#modalBackground,
#detalhesModalBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Estilo para o modal */
#modalDetalhes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    padding: 20px;
}

.modal-contentt {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 800px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.modal-contentt p {
    text-align: center;
    margin: 10px 0;
}

.modal,
.detalhesModal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    max-width: 700px;
    width: 100%;
}

/* Botão de fechar */
#detalhesFecharModal,
#closeModal {
    cursor: pointer;
}

.modal h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    margin-top: 5px;
    padding: 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.modal-form button[type="submit"] {
    grid-column: 1 / -1;
    padding: 12px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-form button[type="submit"]:hover {
    background-color: #45a049;
}

.pesquisa {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pesquisa {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e2e2e2;
    color: #333;
    outline: none;
}

.pesquisa input {
    background-color: red;
}

/* Container para os cards de viagem */
.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 100px;
    z-index: 1;
}

.botao{
    border: 0px;
    height: 220px;
    background-color: rgba(0, 136, 255, 0);
    

}
.trip-card {
    background-color: #FFF9F0;
    border: 0px solid ;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 200px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.3s;
}

.trip-info {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.trip-image {
    flex-shrink: 0;
    margin-left: 10px;
    
}

.trip-image-img {
    width: 250px;
    margin-bottom: 50px;
    height: auto;


}



.status {
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.entregue {
    background-color: #4CAF50;
}

.nao-entregue {
    background-color: #D92727;
}

/* Estilos para o modal de detalhes da viagem */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: modalFadeIn 0.3s;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    margin: 0 0 20px 0;
}

#detalhesViagem {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilo para o botão "Editar" */
#editButton {
    background-color: #4CAF50;
    color: white;
}

#editButton:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

/* Estilo para o botão "Excluir" */
#deleteButton {
    background-color: #e74c3c;
    color: white;
}

#deleteButton:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}
